<div class="container">
  <h4>TODO: Move the list to dumb components</h4>
  <h4>(planning-list & planning-list-item)</h4>
  <br>
  ID // Task // Responsible
  <ul appDraggable
      [list]="list"
      [previousArrId]="selectArrId"
      (selectOn)="onSelectOn($event)"
      (dropOn)="updateList()">
      <li draggable="true"
        *ngFor="let item of list"
        [id]=item.id>
        <!-- TODO: Use pipe to display planning item via id -->
        {{ item.id }}
      </li>
    </ul>

  <button (click)="addNewItem()">Add a new item</button>
</div>
