<mat-card class="card" *ngIf="prop">
  <mat-card-header>
    <mat-card-title class="card-title">{{ prop?.name }}</mat-card-title>
    <mat-card-subtitle class="card-subtitle">{{ prop?.id }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content" *ngIf="cardInfo">
    <div class="info-field" *ngFor="let card of cardInfo | keyvalue">
      <p>{{ card.value.title }}</p>
      <p *ngIf="!card.value.subParam1">
        {{ prop[card.value.child] }}
      </p>
      <!-- If child has nested values -->
      <p *ngIf="!!card.value.subParam1">
        {{ prop[card.value.child][card.value.subParam1] }}.
        {{ prop[card.value.child][card.value.subParam2] }}
      </p>
    </div>
  </mat-card-content>
</mat-card>
