<header>
  <mat-toolbar>
    <div class="logo"></div>
    <button mat-button [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</button>
    <button mat-button [routerLink]="['/projects']" routerLinkActive="router-link-active">Projects</button>
    <button mat-button [routerLink]="['/clients']" routerLinkActive="router-link-active">Clients</button>
    <button mat-button [routerLink]="['/login']" routerLinkActive="router-link-active">Login(Temp)</button>
  </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>
