// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Settings: Breakpoint
/// @param {Length} $width - screen width
@mixin breakpoint($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

/// Settings: Modal background
@mixin modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: $bg-light-alpha;
}