// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Settings: Colors
///	@type Color
$brand-color-red: #ff3e6f !default;
$brand-color-grey: #202020 !default;
$bg-grey-light: #f0efef !default;
$bg-grey-dark: #353538 !default;
$bg-grey-hover: #ebebeb !default;
$bg-light-alpha: rgba(10,10,10,0.3) !default;
$text-grey-light: #999 !default;
$text--grey-dark: #2c2e3e !default;
$color-white: #fff !default;
$color-blue: #0d1891 !default;
$btn-delete:#f73859 !default;

/// Settings: Screen width
///	@type Length
$large-screen: 75rem !default; /* 1200 */
$medium-screen: 64rem !default; /* 1024 */
$small-screen: 48rem !default; /* 768 */
