<p>=== Budget ===</p>

<br>

<div *ngIf="projectBudgetField$ | async as projectBudgetField">
  <app-budget-list></app-budget-list>
  <app-budget-list-item></app-budget-list-item>
  <app-budget-total></app-budget-total>

  <p>Id: {{ projectBudgetField.id }}</p>
  <p>**************************</p>
  <ul *ngIf="projectBudgetField.total as total">
    <li *ngFor="let item of total">
      <p>Budget: {{ item.budget }}</p>
      <p>Type: {{ item.type }}</p>
      <p *ngIf="item.hours">Hours: {{ item.hours }}</p>
      <p>**************************</p>
    </li>
  </ul>
</div>

<button mat-mini-fab aria-label="Add a budget item" (click)="addBudgetItem()">
  <mat-icon>add</mat-icon>
</button>
