<div class="budget-budget-shell-container">
  <div *ngIf="projectBudgetField$ | async as projectBudgetField">
    <p>Id: {{ projectBudgetField.id }}</p>

    <app-budget-list
      [budgetList]="projectBudgetField.budgetItems"
      (updateItem)="updateBudgetItem($event)"
      (deleteItem)="deleteBudgetItem($event)"
      (hoursChanged)="updateTotalHours($event)"
      (budgetChanged)="updateTotalBudget($event)">
    </app-budget-list>

    <app-budget-total
      [totalHours]="totalHours$ | async"
      [totalBudget]="totalBudget$ | async">
    </app-budget-total>

    <button
      (click)="addBudgetItem()"
      mat-mini-fab aria-label="Add a budget item">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <h3 (click)="save()">Save</h3>
</div>
