.budget-budget-shell-container {
  margin-top: 2rem;
  position: relative;
  app-budget-total {
    position: absolute;
    right: 25%;
    top: 0;
  }

  button {
    position: absolute;
    right: 25%;
    bottom: 0;
  }
}
