<div class="budget-list-item-container">
  <mat-form-field appearance="outline">
    <mat-label>&nbsp;&nbsp;&nbsp;&nbsp;Budget</mat-label>
    <span matPrefix class="currency">€&nbsp;</span>
    <input matInput type="number">
    <mat-icon matSuffix>edit</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Type</mat-label>
    <mat-select>
      <mat-option *ngFor="let task of tasks" [value]="task">
        {{ task }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="hour-field">
    <mat-label>&nbsp;&nbsp;&nbsp;&nbsp;Hour</mat-label>
    <input matInput type="number">
    <mat-icon matSuffix>edit</mat-icon>
  </mat-form-field>
</div>
