@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';

nav {
  background: $color-white;
  .new-project {
    position: absolute;
    right: 4rem;
  }

  .icon {
    color: $brand-color-red;
    margin-right: 1rem;
  }
}
