<nav mat-tab-nav-bar *ngIf="animTabs">
  <a mat-tab-link *ngFor="let tab of animTabs"
    (click)="activeTab = tab.name"
    [active]="activeTab == tab.name"
    [routerLink]="[tab.link]">{{ tab.name }}</a>

  <a (click)="enableCreateBtn ? create() : delete()" mat-tab-link class="new-project">
    <mat-icon class="icon">{{ enableCreateBtn ? 'add_circle' : 'delete_outline'}}</mat-icon>
    <span>{{ enableCreateBtn ? 'New project' : 'Delete project'}}</span>
  </a>
</nav>

<section [@slide-left-right]="animationState">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</section>
