<div class="container" *ngIf="allProjectsLoaded$ | async">

  <router-outlet name="popup"></router-outlet>

  <h1>Running Projects</h1>
  <hr>
  <button mat-button (click)="deleteProject(11)">Delete a Project 11</button>
  <button mat-button (click)="deleteProject(10)">Delete a Project 10</button>
  <button mat-button (click)="deleteProject(9)">Delete a Project 9</button>
  <button mat-button (click)="deleteProject(2)">Delete a Project 2</button>
  <button mat-button (click)="deleteProject(1)">Delete a Project 1</button>
  <br>
  <app-project-filter-bar (filterTerm)="getSearchTerm($event)"></app-project-filter-bar>

  <p>Search term: {{ filterTerm }}</p>
  <br>

  <app-project-list
    [projects]="projects$ | async | projectFilter: filterTerm"
    [errorMessage]="errorMessage$ | async"></app-project-list>
  <br>
  <div>TODO: Project Pagination Component</div>
</div>

