@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';

.list-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem 1rem;
  margin: 2rem auto 0;
  @include breakpoint($small-screen) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include breakpoint($medium-screen) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
  @include breakpoint($large-screen) {
    width: 80rem;
    grid-gap: 2rem;
  }
}
