<div *ngIf="details">
  <p>Id: {{ details.id }}</p>
  <p>Client: {{ details.client }}</p>
  <p>Sub Client: {{ details.sub_clinet }}</p>
  <p>Name: {{ details.name }}</p>
  <p>Status: {{ details.status }}</p>
  <p>Manager: {{ details.manager }}</p>
</div>
<hr>

<div class="details-edit-container" *ngIf="details">
  <form [formGroup]="editDetailsForm" (submit)="save()">
    <mat-form-field>
      <label>Client</label>
      <div class="label-space"></div>
      <mat-select formControlName="client">
        <mat-option *ngFor="let client of clientList" [value]="client">
          {{ client }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <label>Sub-client</label>
      <div class="label-space"></div>
      <mat-select formControlName="subClient">
        <mat-option *ngFor="let subClient of clientList" [value]="subClient">
          {{ subClient }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <label>Project name</label>
      <div class="label-space"></div>
      <input
        formControlName="name"
        matInput
        [value]="details.name">
    </mat-form-field>

    <mat-form-field>
      <label>Status</label>
      <div class="label-space"></div>
      <mat-select formControlName="projectStatus">
        <mat-option *ngFor="let statusId of statusList" [value]="statusId">
          {{ statusId | projectStatus }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <label>Project manager</label>
      <div class="label-space"></div>
      <mat-select formControlName="manager">
        <mat-option *ngFor="let manager of managerList; index as i " [value]="manager">
          {{ manager }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" mat-flat-button>Save</button>
  </form>
</div>
