@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';

mat-card {
  position: fixed;
  top: 8.25rem;
  right: 4rem;
  width: 27rem;
  height: 38rem;
  padding: 1rem 2rem 2rem;
  z-index: 3;

  mat-form-field {
    width: 100%;
    margin-bottom: -0.5rem;

    label {
      font-size: .875rem;
      color: $text-grey-light;
    }

    .label-space {
      height: .6rem;
    }
  }

  .advanced-options {
    margin-top: 1rem;

    a {
      color: $text-grey-light;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  button {
    background: $brand-color-red;
    color: $color-white;
    padding: .5rem 2rem;
    margin-top: 3rem;
    float: right;
  }
}

.modal-wrapper {
  @include modal-bg;
}

