@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';

.budget-list-item-container {
  mat-form-field {
    width: 12rem;
    margin-right: 1rem;
    &.hour-field {
      width: 8rem;
    }

    mat-icon {
      color: $brand-color-red;
    }

    .currency {
      position: absolute;
      bottom: .1em;
      color: $text-grey-light;
    }

    input {
      margin-left: 1em;
    }

    mat-icon {
      cursor: pointer;
    }
  }

  button {
    width: 2rem;
    height: 2rem;
    background: $btn-delete;
    mat-icon {
      font-size: 1rem;
    }
  }
}
